@import '@esri/calcite-components/calcite/calcite.css';
@import '@arcgis/map-components/main.css';
@import '@arcgis/coding-components/main.css';
@import 'leaflet/dist/leaflet.css';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
